<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<script src="./js/vendor/modernizr.js"></script>
<link rel="stylesheet" href="./css/foundation.min.css">
<title>Records API</title>
</head>
<body ng-app="app">

<div ng-controller="FetchCtrl" class="row FetchCtrl" >

  <h1>Welcome to the Records fetcher</h1>

  <table>
    <thead>
      <tr>
        <th ng-repeat="header in headers"><a href="#" ng-click="sort_table(header)">{{header}}<a/></th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in records">
          <td>{{record.lastname}}</td>
          <td>{{record.firstname}}</td>
          <td>{{record.gender}}</td>
          <td>{{record.favoritecolor}}</td>
          <td>{{record.dateofbirth | date:'MM/dd/yyyy'}}</td>
        </tr>
        </tbody>
      </table>

      <form action="" method="post" accept-charset="utf-8">
        <input type="text" ng-model="postData" />
        <div>
          Data to be sent: {{postData}}
        </div>
        <button type="submit" ng-click="postLine()">Submit</button>
      </form>

      <div data-alert class="alert-box warning round small-6">
        Click on the headers to sort the table.
        <a href="#" class="close">&times;</a>
      </div>

    </div>

    <script src="./js/vendor/jquery.js"></script>
    <script src="./js/vendor/fastclick.js"></script>

    <script src="./js/angular.min.js"></script>
    <script src="./js/foundation.min.js"></script>

    <script type="text/javascript">
$(document).foundation();
    </script>

    <script  type="text/javascript">
var app = angular.module("app", []);

app.service('alerts', function() {
    this.sort_success = function(sorted_by) {
    console.log('Successfully retrieved and sorted');
    $('.FetchCtrl').append(
      '<div data-alert class="alert-box small-4">'
      + 'Successfully, sorted by'
      + sorted_by
      + '<a href="#" class="close">&times;</a>'
      + '</div>'
      )};


    this.postSuccess = function(posted) {
    console.log('Successfully posted');
    $('.FetchCtrl').append(
      '<div data-alert class="alert-box small-4">'
      + 'Successfully, posted '
      + posted
      + '<a href="#" class="close">&times;</a>'
      + '</div>'
      )};

    }); 

app.controller('FetchCtrl', function($scope, $http, alerts) {
    //initializers
    $scope.records = [];
    $scope.sort_by = 'lastname';

    $scope.getTable = function(sort_by) {
      $scope.sort_by = sort_by;

      $http.jsonp("http://csv-api.herokuapp.com/v1/records/" + sort_by + "?callback=JSON_CALLBACK")
      .success(function(data){
        console.log('success');
        console.log(data);
        $scope.records = data;
        })
      .error(function(data){
        console.log('error');
        });
    //alerts.sort_success(sort_by);
    };


    $scope.postLine = function() {
      text = encodeURIComponent($scope.postData);
      console.log(text);

      $http.post("http://csv-api.herokuapp.com/v1/records/" + text )
      
      .success(function(data){
        console.log('successfully posted');
        alerts.postSuccess($scope.postData);
        })
      .error(function(data){
        console.log('error');
        });
      $scope.postData ="";
    };

    $scope.sort_table = function (sort_by){
      $scope.getTable(sort_by);
    }

    $scope.headers = ["LastName", "FirstName", "Gender", "FavoriteColor", "DateOfBirth"];
    $scope.getTable($scope.sort_by);			
});

    </script>

    </body>
    </html>
